/* ------- Start Styles ------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	line-height: 18px;
    font-size: 13px;
    color: #606060;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-family: 'Open Sans',sans-serif;
	font-weight: 600;
}

.no-right {
	margin-right: 0px !important;
}

.no-left {
	margin-left: 0px !important;
}

.no-top {
	margin-top: 0px !important;
}

.no-bottom {
	margin-bottom: 0px !important;
}

.border-none {
	border: none !important;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.clear {
	clear: both;
}

.no-bg {
	background: none !important;
}

.p-b-15 {
	padding-bottom: 15px !important;
}


a {
	outline: 0 !important;
}





#wrapper {
	margin: 0 auto 0;
	width: 940px;
	position: relative;
}


.top-section {
	margin: 20px 0 0;
	text-align: center;
	color: #FFF;
}

.top-section h1 {
	text-indent: -9999px;
	background: url("../img/fia_logo.png") no-repeat scroll center top transparent;
	display: block;
	width: 300px;
	margin: 0 auto;
	height: 200px;
}

.top-section h2,
.top-section h3 {
	text-shadow: 0 1px 2px #000;
	color: #FFF;
}

.top-section h2 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 28px;
}

.top-section h2 span.underline {
	border-bottom: 3px solid #FFFFFF;
    box-shadow: 0 1px 2px #000000;
    display: block;
    margin: 10px auto 0;
    width: 755px;
}

.top-section .heading-block {
	background: url("../img/icon_tilda.png") no-repeat scroll center bottom transparent;
    clear: both;
    display: block;
    margin: 20px auto 10px;
    padding: 0 0 35px;
    width: 800px;
}

.top-section .heading-block h3 {
	font-weight: 600;
	font-size: 23px;
	margin: 0 0 5px;
}

.top-section .heading-block p {
	font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 25px;
    margin: 10px 0 0;
    text-shadow: 0 1px 2px #000000;
}

.main-section {
  background: url("../img/main_bg.png") no-repeat scroll center top transparent;
  background: #f4f4f4;
  border-radius: 8px;
  clear: both;
  display: block;
  padding: 45px 0;
  position: relative;
}

.unit-column {
  width: 250px;
  min-height: 600px;
  float: left;
  padding: 0 30px;
}

.first {
  border-right: #c7c7c7 1px solid;
}

.last {
  border-left: #c7c7c7 1px solid;
}

.main-section .unit-column p {
	margin: 0 0 15px;
}

.main-section .unit-column h2 {
  font-size: 30px;
  min-height: 120px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

.main-section .unit-column h4 strong {
	font-weight: 600;
}

.main-section .unit-column h5 {
	text-align: center;
	font-size: 18px;
	margin: 0px;
	line-height: 19px;
}

.unit-icon {
  margin: 20px 0;
  text-align: center;
}

.main-section .unit-column p.intro {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 10px;
}

.main-section .unit-column p.summary {
	font-size: 12px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.main-section .unit-column ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.main-section .unit-column ul li {
	background: url("../img/red_bullet.png") no-repeat scroll left 5px transparent;
    color: #787878;
    font-size: 12px;
    margin: 0 0 15px;
    padding: 0 0 0 15px;
}

.main-section .unit-column a.booking-button {
	background: url("../img/book_button.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 31px;
    line-height: 27px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px #000000;
    text-transform: uppercase;
    width: 200px;
}

.main-section .unit-column a.booking-button:hover {
	background: url("../img/book_button.png") no-repeat scroll left bottom transparent;
}

.main-section .end-column {
	 margin: 0 0 0 17px;
}

.footer {
	clear: both;
    color: #FFFFFF;
    display: block;
    margin: 15px 0 65px;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
}

.footer h3 {
	display: block;
	margin: 0 auto;
	position: relative;
	clear: both;
}

.footer h3 a {
	background: url("../img/fia_logo_small.png") no-repeat scroll center bottom transparent;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    font-weight: 300;
    height: 90px;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 210px;
}

.footer h3 a:hover {
	text-decoration: underline;
}

.footer p {
	font-size: 12px;
	margin: 5px 0;
}

.footer p a {
	color: #FFF;
	text-decoration: underline;
}

.footer p a:hover {
	color: #FFF;
	text-decoration: none;
}

/* Clearfix */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}